html {
    height: 100%;
}
body{
  font-family: 'Titillium Web', sans-serif;
     background: rgb(2,0,36);
background: linear-gradient(155deg, rgba(2,0,36,1) 0%, rgba(9,5,103,1) 53%, rgba(1,15,149,1) 98%); 
}

.roulette-wrapper{
  position:relative;
  display:flex;
  justify-content:center;
  width:100%;
  margin:0 auto;
  overflow:hidden;
}

.roulette-wrapper .selector{
  width:3px;
  background:grey;
  left:50%;
  height:100%;
  transform:translate(-50%,0%);
  position:absolute;
  z-index:2;
}
.previous-rolls {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.previous-roll {
  
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  display:inline-block
   
}




.roulette-wrapper .wheel{
  display:flex;
}

.roulette-wrapper .wheel .row{
  display:flex;
}

.roulette-wrapper .wheel .row .card{
  height:75px;
  width:75px;
  margin:3px;
  border-radius:8px;
  border-bottom:3px solid rgba(0,0,0,0.2);
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  font-size:1.5em;
}

.card.red{
  background:#da117b;
}

.card.black{
  background:#7e75dd;
}

.card.green{
  background:#C8FD01;
}

*{
  box-sizing:border-box;
}

.text {
  color: white
}

.outcome-seed-container{
  color: white
}
.public-seed-container{
  color: white
}